*{
    margin: 0;
    padding-top: 2px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFF8EE;
}

body{
    background-color: #FFF8EE;
}

.about1{
  
   flex-direction: column;
   text-align: center;
   margin: 20px auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
.about1 h1{
    color: #CC3333;
    font-size: 40px;
    margin-bottom: 25px;
    position: relative;
}
.jpg{
    margin:0 auto;
    padding: 10px 20px;
    width: 90%;
}
.about2{
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
   
}
.about-img{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-img img{
    max-width: 105%;
    height: 45vh;
    display: block;
}
.txt{
    flex:1;
}
.txt p{
    color: #2A435D;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
}
.button{
	         
    padding: .3px 22px;
    font-size: 1rem;
    letter-spacing: 1px;
    background: #FFF8EE;
    color: #CC3333;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45s ease;
    
    line-height: 30px;
    position: absolute;
    cursor: pointer;
  
}
.button:hover{
    letter-spacing: 1px;
    background: #CC3333;
    color: #fff;
}
@media screen and (max-width:768px) {
    .about1{
        padding: 0px 20px;
    }
    .about1 h1{
        font-size: 30px;
    }
    .jpg{
        padding: 10px;
    }
    .about2{
        padding: 20px;
        flex-direction: column;
    }
    .about-img{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-img img{

        max-width: 100%;
        height: 35vh;
        display: block;
    
    }
    .txt p{
        padding: 20px;
        font-size: 18px;
    }
     .button{
     font-size: 0.9rem;
     margin-left: 30%;
    
     }
}



