:root{
    --backgroundColor: #FFF8EE;
    --fontColor: #CC3333;
}
html{
    scroll-behavior: smooth;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "kanit",sans-serif;
    background: var(--backgroundColor);
    color: black;
}
.menu-container{
    height:100vh;
    width: calc(100vw - [scrollbar width]);
}
.menu-header{
    padding:20px;
    height:200px;
    width: 100%;
}
.menu-header h3{
    font-weight: 400;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    color: var(--fontColor);
}
.menu-header h1{
    color: var(--redtext);
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: clamp(20px, 2vw, 50px);
}
.menu-container{
    text-align: center;
    height:100px;
    width:100%
}
.menu-container span{
    font-size: 30px;
    padding: 0 30px;
    position: relative;
    color:var(--fontColor);
    transition: .5s ease;
    font-weight: 400;
}
.menu-container span::before{
    content:"";
    height:45px;
    width:3px;
    background-color: rgb(180,180,180);
    position:absolute;
    left:0; 
    transition: .5s ease;
}
.menu-container span::after{
    content:"";
    height:60px;
    width:0px;
    background-color: #ef233c;
    position:absolute;
    left:0; 
    transition: 1s ease;
}

.menu-container span.active{
    background: var(--fontColor);
    color:var(--backgroundColor);
    transition: 1s ease;
}
.menu-container span:hover{
    cursor: pointer;
}
.menu-container span:hover::before{
    background-color: black;
}
.menu-option-container{
    display: none;
}

/* Item container*/
.item-container{
    height:100vh;
}

/* UNLI WINGS */
.unli-wings-container{
    height:100vh;
    width: calc(100vw-[scrollbar width]);
    display:flex;
    justify-content: center;
    gap:20px;
    margin:10px auto;
    position:relative
}
.unli-wings-img{
    height:500px;
    width: 600px;
}
.unli-wings-img img{
    height:500px;
    width: 700px;
}
.unli-wings-text-content{
    height: 500px;
    width: 600px;
}
.unli-wings-text-content h2,
.unli-wings-text-content p.dash,
.unli-wings-text-content span,
.unli-wings-text-content span.text-bold{
    color:var(--fontColor);
}
.dash{
    color:var(--fontColor);
}
.dash span,
.unli-wings-text-content p span{
    font-weight: bold;
}
.unli-wings-text-content p,
.unli-wings-text-content{
    font-size:clamp(13px,1vw,30px);
}
.unli-wings-text-content h2{
    font-size:clamp(13px,1.5vw,30px)

}

/* ALA CARTE*/
.ala-carte-content{
    display:flex;
    justify-content: center;
    height:100vh;
    width: 100%;
}
.alacarte-split-content{
    height: 500px;
    width: clamp(300px,32vw,800px);
    padding: 10px 20px;
    align-items: center;

}
.alacarte-split-content p{
    font-size: clamp(10px,1vw,25px);
    letter-spacing: .5px;
    color: var(--fontColor);
}
.alacarte-split-content p.black-text{
    color:black;
    font-size: 9px;
}
.alacarte-split-content p span{
    font-weight: bold;
    color: var(--fontColor);
}
/*BEEF SERIES */
.beef-series-container{
    display: flex;
    justify-content: center;
    gap:30px;
    height:100vh;
    width:100%;
    margin: 20px auto;
    overflow: hidden;
}

.beef-series-img{
    order:2;
}
.beef-series-img img{
    height:430px;
    width:500px;
    border-radius: 15px;
}
.beef-series-text-content{
    height: 500px;
    width: 500px; 
}
.beef-series-text-content p{
    font-size: clamp(13px,1.12vw,30px);
    letter-spacing: 1px;
    color:var(--fontColor);
}
.beef-series-text-content h1{
    font-size: clamp(25px,2.20vw,80px);
    color: var(--fontColor);
}
.beef-series-text-content p span{
    font-weight: bold;
    color: var(--fontColor);
}
/*SNACK COMBO */
.snack-combo-container{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin:20px 0;
}
.snack-combo-img{
    border: none;
    outline: none;
}
.snack-combo-img img{
    height: clamp(300px,23.3vw,600px);
    width: clamp(300px,28vw,700px);
    border-radius: 10px;
}
.snack-content{
    height:500px;
    width: 600px;
    padding: 10px
}
.snack-content p {
    font-size:clamp(13px,1.08vw,30px);
    color:var(--fontColor);
    letter-spacing: 1px;

}
.snack-content p span{
    font-weight: 800;
    color:var(--fontColor);

}
/*DRINKS*/
.drinks{
    height:100vh;
    width: 100%;
}
.drinks-container-content{
    display: flex;
    justify-content: center;
    gap:10px;
}
.drinks-content{
    height:560px;
    width: 480px;
    padding: 10px;
}
.drinks-content div:nth-child(1)::after{
    content:"-----------------------------------------";
    position: absolute;
    bottom:-10px;
    color:var(--fontColor);
    font-size: clamp(13px,1.08vw,30px);

}
.drinks-item{
    height:370px;
    position: relative;
}
.drinks-content .drinks-item h1,
.drinks-content .drinks-item span{
    color:var(--fontColor);
}
.drinks-content .drinks-item h1{
    font-weight: 800;
    font-size:clamp(10px,3vw,30px) ;
}
.drinks-content .drinks-item span{
    font-weight: 800;
    font-size:clamp(10px,1.08vw,30px) ;
}
.drinks-content .drinks-item pre,
.drinks-content .drinks-item p{
    font-size: clamp(10px,.9vw,30px);
    letter-spacing: 1px;
}
.drinks-img{
    height:400px;
    width:400px;
}
.drinks-img img{
    height:400px;
    width:400px;
    border-radius: 10px;
}



/* RESPONSIVE */

@media(max-width:768px){
    .item-container{
    }
    .menu-option-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height:50px;
        width: 100%;
    }
    .menu-header {
        height: 175px;
    }
    .menu-container{
        display: none;
    }
    .menu-option-container select{
        color:white;
        background-color: var(--fontColor);
        padding: 5px;
        outline: none;
        border: none;
        border-radius: 5px;
        letter-spacing: 2px;
    }
    .menu-option-container select option{
        background: var(--fontColor);
        color: var(--backgroundColor);
        letter-spacing: 2px;
    }
    .ala-carte-content{
        display:block;
        margin:auto;

    }
    .alacarte-split-content{
        height: 225px;
        width: 319px;
        padding: 20px 20px;
        margin:auto;
    
    }
    .ala-carte-content div:nth-child(2) p:nth-child(even),
    .alacarte-split-content .ala-carte-dash{
        font-size: 9px;
    }
    /*beef series*/
    .beef-series-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .beef-series-img{
        order:0;
        height:280px;
        width:270px;
    }
    .beef-series-img img{
        height: 275px;
        width: 262px;
        margin:auto;
    }
    .beef-series-text-content{
        width:280px;
    }
    /*Snack Combo*/
    .snack-combo-container {
        flex-direction: column;
    }
    .snack-content {
        height: 330px;
        width: 328px;
        margin:auto;
    }
    .snack-combo-container {
        margin: 0 0;
    }
    .snack-content .snack-dash{
        font-size:10px;
        
    }
    .snack-combo-img {
        border: none;
        outline: none;
        width: 100%;
    }
    .snack-combo-img img {
        height: 300px;
        width: 300px;
        border-radius: 10px;
        display: block;
        margin: auto;
    }
    /*DRINKS*/
    .drinks-container-content{
        display: flex;
        gap:10px;
        flex-direction: column;
        justify-content: center;
    }
    .drinks-content {
        height: 350px;
        width: 329px;
        padding: 10px;
        margin: auto;
    }
    .drinks-item {
        height: 190px;
        position: relative;
    }
    .drinks-img{
        height: 280px;
        width: 275px;
        border-radius:10px;
        order:-1;
        margin: 0 auto;
    }
    .drinks-img img{
        height: 274px;
        width: 268px;
    }
    .drinks-container-content div:nth-child(2) div:nth-child(1){
        height:120px;
    }
    .drinks-content .drinks-item h1 {
        font-weight: 800;
        font-size: 17px;
    }
    /* UNLI WINGS*/
    .unli-wings-container{
       flex-direction: column;
       gap:0;
       margin: -30px auto;
       position: relative;
       overflow: hidden;
    }
    .unli-wings-img{
        height:310px;
        width:310px;
        margin: 10px auto;
    }
    .unli-wings-img img{
        height:300px;
        width:300px;
        display: block;
        margin:auto;
    }
    .unli-wings-text-content{
        height:400px;
        width: 309px;
        margin:10px auto;
        padding:10px;
        
    }
    .unli-wings-text-content h2 {
        font-size: 15px;
    }
    .unli-wings-text-content p,
    .unli-wings-text-content .dash {
        font-size: 10px;
    }

}
@media(min-width:768px) and (max-width:992px) {
    .menu-header {
        height: 140px;
        width: auto;
    }
    .menu-container span {
        font-size: 17px;
    }
    .menu-container span::before {
        height: 25px;
    }
    .menu-container span::before {
        height: clamp(20px,3.65vh,80px);
    }
    .unli-wings-img {
        height: 367px;
        width: 394px;
    }
    .unli-wings-img img {
        height: 306px;
        width: 430px;
    }
    .alacarte-split-content {
        height: 359px;
        width: 350px;
        padding: 17px 11px;
        align-items: center;
    }
    .beef-series-img img {
        height: 294px;
        width: 350px;
        border-radius: 15px;
    }
    .beef-series-text-content {
        height: 365px;
        width: 336px;
    }
    /* SNACK COMBO*/
    .snack-combo-container {
        align-items:start;
    }
    .snack-combo-img img {
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }
    .snack-content {
        height: 311px;
        width: 410px;
        padding: 10px;
    }
    /*DRINKS*/
    .drinks-container-content{
        flex-wrap: wrap;
    }
    .drinks-img {
        height: 416px;
        width: 773px;
        order: -1;
    }
    .drinks-img img {
        height: 400px;
        width: 406px;
        display: block;
        margin: auto;
        border-radius: 10px;
    }
    .drinks-content {
        height: 600px;
        width: 381px;
        padding: 10px;
    }
    .drinks-item {
        height: 302px;
    }
    .drinks-content .drinks-item pre, .drinks-content .drinks-item p {
        font-size: 13px;
    }
    .drinks-content .drinks-item span {
        font-size: 16px;
    }
}
@media(min-width:992px) and (max-width:1200px) {
    .menu-header {
        height: 147px;
    }
    .menu-container span::before {
        height: 30px;
    }
    .menu-container span {
        font-size: 20px;
    }
    /*unli wings*/
    .unli-wings-img img {
        height: 377px;
        width: 550px;
    }
    .unli-wings-text-content {
        padding: 10px;
        height: 320px;
        width: 415px;
    }
    .unli-wings-img {
        height: 400px;
        width: 450px;
    }
    /* ALA CARTE*/
    .alacarte-split-content {
        height: 400px;
        width: 400px;
    }
    .alacarte-split-content p {
        font-size: 12px;
    }
    .alacarte-split-content .ala-carte-dash{
        font-size:11.5px;
    }
    /*BEEF*/
    .beef-series-img img {
        height: 296px;
        width: 320px;
    }
    .beef-series-img {
        height: 350px;
    }
    .beef-series-text-content {
        height: 500px;
        width: 295px;
    }
    .beef-series-text-content h1 {
        font-size: 30px;
    }
    .beef-series-text-content p {
        font-size: 15px;
        letter-spacing: 1px;
        color: var(--fontColor);
    }
    .beef-series-text-content .beef-dash{
        font-size: 14px;
    }
    /* SNACK COMBO */
    .snack-combo-container {
        align-items:start;
    }
    .snack-content {
        height: 320px;
        width: 473px;
    }
    .snack-content p {
        font-size:17px;
    }
    .snack-content .snack-dash{
        font-size:15px;
    }
    .snack-combo-img img {
        height: 350px;
        width: 350px;
    }
    /* DRINKS*/
    .drinks-container-content{
        flex-wrap: wrap;
    }
    .drinks-img {
        height: 416px;
        width: 773px;
        order: -1;
    }
    .drinks-img img {
        height: 400px;
        width: 406px;
        display: block;
        margin: auto;
        border-radius: 10px;
    }
    .drinks-content {
        height: 600px;
        width: 381px;
        padding: 10px;
    }
    .drinks-item {
        height: 302px;
    }
    .drinks-content .drinks-item pre, .drinks-content .drinks-item p {
        font-size: 13px;
    }
    .drinks-content .drinks-item span {
        font-size: 16px;
    }
}
@media(min-width:1200px) and (max-width:1500px){
    .beef-series-text-content {
        height: 500px;
        width: 322px;
    }
    .beef-series-img img {
        height: 338px;
        width: 434px;
        border-radius: 15px;
    }
    .menu-header {
        height: 190px;
    }
    .menu-container span::before {
        height: 45px;
    }
    .menu-container span{
        font-size: 30px;
    }
    .unli-wings-img img {
        height: 380px;
        width: 603px;
    }
    .unli-wings-img {
        height: 477px;
        width: 525px;
    }
    .alacarte-split-content {
        height: 400px;
        width: 450px;
    }
    .alacarte-split-content p {
        font-size: 20px;
    }
    .alacarte-split-content p.ala-carte-dash{
        font-size:15px;
    }
    .snack-combo-container {
        align-items: start;
    }
    .snack-content {
        height: 350px;
        width: 527px;
    }
    .alacarte-split-content p.ala-carte-dash{
        font-size:13px;
    }   
    .ala-carte-content div:nth-child(2) p:nth-child(even),
    .alacarte-split-content .ala-carte-dash{
        font-size: 13px;
    }
    .ala-carte-content div:nth-child(2) p:nth-child(even) span,
    .alacarte-split-content .ala-carte-dash span{
        font-size: 15px;
    }
    .alacarte-split-content p.black-text{
        font-size: 15px;
    }
    .drinks-container-content{
        flex-wrap: wrap;
    }
    .drinks-img {
        height: 420px;
        width: 100%;
        order: -1;
    }
    .drinks-img img {
        height: 400px;
        width: 406px;
        display: block;
        margin: auto;
        border-radius: 10px;
    }
    .drinks-content {
        height: 600px;
        width: 381px;
        padding: 10px;
    }
    .drinks-item {
        height: 302px;
    }
    .drinks-content .drinks-item pre, .drinks-content .drinks-item p {
        font-size: 13px;
    }
    .drinks-content .drinks-item span {
        font-size: 16px;
    }
}


